@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #f3f1ff;
}
header{
    background-color: #562EFF;
    width: 1440px;
    height: 94px;
}
nav{
    display: flex;
    width: 83.5%;
    justify-content: center;
}
.nav-left{
    display: flex;
    position: relative;
    left: 32px;
    flex: 1;
}
.nav-left img{
    width: 40.42px;
    height: 51px;
    margin: 26px 15px 17px;
}
.nav-left h3{
    width: 54px;
    height: 36px;
    margin: 33px 0px 25px 0px;
}
.nav-right{
    flex: 2;
}
.nav-right>ul{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.nav-right>ul>li{
    list-style: none;
}
.nav-right>ul>li>a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    margin: 35px 36px 35px 0px;
}
/* top-players */
main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: #fff;
    width: 870px;
    padding: 30px;
}
.top-player{
    margin-bottom: 30px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}
.player img{
    Width: 56px;
    height: 56px;
}
.player{
    display: flex;
}

/* top blog */